@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&family=Source+Serif+Pro:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.source-serif-pro {
  font-family: 'Source Serif Pro', serif;
}
